name: ci

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  api:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: api
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        run: dotnet restore ./MsFullstackSample.Api.csproj

      - name: Build
        run: dotnet build ./MsFullstackSample.Api.csproj --configuration Release --no-restore

      - name: Publish
        run: dotnet publish ./MsFullstackSample.Api.csproj -c Release --no-build -o out

  web:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: web
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "18"
          cache: "npm"
          cache-dependency-path: web/package-lock.json

      - name: Install
        run: npm ci || npm i

      - name: Build
        run: |
          echo "VITE_API_URL=http://localhost:8080" > .env.production
          npm run build
